body {
  font-family: Open Sans, sans-serif;
  background-color: #edf3f8;
}

main {
  background-color: #ffffff;
  width: 40rem;
  height: 600px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: auto;
  margin-top: 5rem;
}

h1 {
  color: #8ec84d;
  padding: 2rem 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
}

#add-input, .task {
  border-radius: 50px;
  border: 0;
  background-color: #eaeaeb;
  padding: 20px;
  width: 25rem;
}

#add-input:focus {
outline: none !important;
}

#add-button {
  background-color: #ca5ef9;
  padding: 20px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.task {
width: 60%;
}

.completed-task {
  text-decoration: line-through;
}

.delete-task-button {
  text-decoration: none;
}
ol li {
  list-style-type: none !important;
}
